In [3]:
grades = [2, 3, 5, -10, 19, 20, 12]

print(grades)

grades.append(99)
print(grades)

print(len(grades))

[2, 3, 5, -10, 19, 20, 12]
[2, 3, 5, -10, 19, 20, 12, 99]
8

In [4]:
max_grade = -1000

for grade in grades:
    max_grade = max(max_grade, grade)

print(max_grade)

99

In [8]:
from collections import deque # importing in some other person's code for our use

customers = deque()

customers.append("Josh")
customers.append("Andy")
customers.append("Jess")

print(customers)

deque(['Josh', 'Andy', 'Jess'])

In [12]:
removedPerson = customers.popleft()
print(customers)

deque([])

In [13]:
money = {"Lara" : 11, "Andy" : 25, "Harry" : 20}
print(money)

{'Lara': 11, 'Andy': 25, 'Harry': 20}

In [15]:
print(money["Harry"])

money["Lara"] = 400

print(money)

20
{'Lara': 400, 'Andy': 25, 'Harry': 20}

In [18]:
if "Lara" not in money:
    print("No")

In [21]:
numbers = {2 : True, 3 : True, 7 : True, 8 : True} # 2, 3, 7, 8

if 6 in numbers:
    print("Yes, 6 is in the set")
else:
    print("No, 6 is not in the set")
    

numbers[25] = True

print(numbers)


if 25 in numbers:
    print("Yes, 25 is in the set")
else:
    print("No, 25 is not in the set")

No, 6 is not in the set
{2: True, 3: True, 7: True, 8: True, 25: True}
Yes, 25 is in the set

In [24]:
#numbers.pop(8)

print(numbers)

numbers[2] = True

print(numbers)

{2: True, 3: True, 7: True, 25: True}
{2: True, 3: True, 7: True, 25: True}

In [37]:
grades = [93, 89, 77, 100, 68, 42]
print(grades)
grades.append(64)
print(grades)
print(len(grades))

sum = 0
for grade in grades:
    sum += grade
print("Average:", sum // len(grades))

[93, 89, 77, 100, 68, 42]
[93, 89, 77, 100, 68, 42, 64]
7
Average: 76

In [38]:
from collections import deque

customers = deque()
customers.append("Ana")
customers.append("Juan")
customers.append("Jess")
customers.append("Angela")

print(customers)

customers.popleft()
print(customers)

deque(['Ana', 'Juan', 'Jess', 'Angela'])
deque(['Juan', 'Jess', 'Angela'])

In [42]:
ages = {"Juan": 14, "Andy" : 6, "Andrew" : 1}
ages

{'Juan': 14, 'Andy': 6, 'Andrew': 1}

In [43]:
print(ages["Juan"])

ages["Jess"] = 10
print(ages["Jess"])

ages["Andrew"] = 2
print(ages["Andrew"])

if "Drew" in ages:
    print("Drew is", ages["Drew"], "years old.")
else:
    print("Drew is not in hash table")

14
10
2
Drew is not in hash table

In [14]:
nums = {2 : True, 3 : True, 8 : True}

for i in range(10):
    if i in nums:
        print(i)
        
print()
        
nums.pop(3)
for i in range(10):
    if i in nums:
        print(i)

2
3
8

2
8

In [20]:
a = [3, 4, 12, 11, 12]
s = set(a)
print(s)

s1 = {2, 13, 122}
s1.add(23)
s1.remove(2)
print(s1)

{11, 3, 4, 12}
{13, 122, 23}

In [22]:
for x in s1:
    print(x)

13
122
23

In [27]:
ages = {"John": 12, "Harry": 18, "Alex": 1}

for p in ages:
    print(p, ages[p])

John 12
Harry 18
Alex 1

In [34]:
from queue import PriorityQueue


q = PriorityQueue()

q.put(7)
q.put(13)
q.put(10)
q.put(200)

In [44]:
while not q.empty():
    smallest = q.get()
    print(smallest)

7
10
13
200

In [25]:





for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [27]:
nums = [2, 3, 4, 2]

m = len(nums)
        
for i in range(m):  # i : 0 to m - 1
    for j in range(m):  # j : 0 to m - 1
        if i == j:
            continue
                
    if nums[i] == nums[j]:
        print(nums[i])

2
2

In [ ]:
numbers = [4, 1, 10, 123]